@import "modules/mixins";
.bio-view {
	.settings {
		.column-selection {
			margin-right: 25px;
		}
	}
	.period-data {
		div	{
			font-size: 12px;
		}
		hr {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.input-panel {
		position:fixed;
		width: 100%;
		background: white; // replace with variable
		z-index: 100;
		bottom: 0;
		box-shadow: 0 0 4px #888888;
	}
	.table-data-container {
		@include breakpoint(s, true) {
			margin-bottom: 270px;
		}
		@include breakpoint(m, true) {
			margin-bottom: 220px;
		}
		@include breakpoint(l) {
			margin-bottom: 140px;
		}
	}
	.bio-table-row {
		&.selected-row {
			font-weight: bold;
		}
		.note {
			max-width: 300px;
			
			.body {
			}
		}

		.delete-entry-row {
			color: gray;
			&:hover {
				color: black;
			}
		}
	}
}