/*
Candidate schemes:
http://paletton.com/#uid=50r090kftUB1Q++60+MkeZ0lo+Q
http://paletton.com/#uid=509060ki7TQ00++00++ib+Ig0++
http://paletton.com/#uid=21c050klFh3b0pCgGkWrTb+GQ6v
http://paletton.com/#uid=219070kilgs9mpme9kTnYdCvv8D
http://paletton.com/#uid=23-1o0kpQthg3wUl6tWuqqJyqnl
http://paletton.com/#uid=10C2F0k3SbW2vue3OlV66mi78uh
*/


$color-primary-0: #FF8A6F;	/* Main Primary color */
$color-primary-1: #FFFFFF;
$color-primary-2: #FFFFFF;
$color-primary-3: #FF8A6E;
$color-primary-4: #FF987F;

$color-secondary-1-0: #FF986F;	/* Main Secondary color (1) */
$color-secondary-1-1: #FFFFFF;
$color-secondary-1-2: #FFFFFF;
$color-secondary-1-3: #FF976E;
$color-secondary-1-4: #FFA47F;

$color-secondary-2-0: #FF796F;	/* Main Secondary color (2) */
$color-secondary-2-1: #FFFFFF;
$color-secondary-2-2: #FFFFFF;
$color-secondary-2-3: #FF796E;
$color-secondary-2-4: #FF897F;