@import "variables";


@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: #{$trans};
  -khtml-opacity: #{$trans};
  opacity: #{$trans};
}

@mixin breakpoint($device-size, $device-only:false) {
  @if $device-size == xs {    
    @if($device-only) {
      @media only screen and (max-width: $screen-xs-max) { @content; }
    } @else {
      @content;
    }
  }
  @else if $device-size == sm {
    @if($device-only) {
      @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
    } @else {
      @media only screen and (min-width: $screen-sm-min) { @content; }
    }
  }
  @else if $device-size == md {
    @if($device-only) {
      @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
    } @else {
      @media only screen and (min-width: $screen-md-min) { @content; }
    }    
  }
  @else if $device-size == lg {
    @media only screen and (min-width: $screen-lg-min) { @content; }
  }
}