@import "variables";


@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: #{$trans};
  -khtml-opacity: #{$trans};
  opacity: #{$trans};
}

@mixin breakpoint($device-size, $device-only:false) {
  @if $device-size == s {    
    @if($device-only) {
      @media only screen and (max-width: $screen-s-max) { @content; }
    } @else {
      @content;
    }
  }
  @else if $device-size == m {
    @if($device-only) {
      @media only screen and (min-width: $screen-m-min) and (max-width: $screen-m-max) { @content; }
    } @else {
      @media only screen and (min-width: $screen-m-min) { @content; }
    }
  }
  @else if $device-size == l {
    @media only screen and (min-width: $screen-l-min) { @content; }
  }
}