<div class="bfcalc-view container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12 input-field">
        <label>Skinfold readings (space-separated):</label>
        <textarea class="materialize-textarea" rows="1" ng-model="readings.input" ng-change="input_changed()"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="hide">Raw: {{readings.input}}</p>
        <p class="hide">Triplets: {{readings.list}}</p>
        <p>BF%: {{readings.bf}}<span ng-if="readings.incomplete_input"> ...</span></p>
        <p ng-if="readings.bf > 0">Avg. series readings (mm): {{readings.series_averages}}</p>
        <p ng-if="readings.bf > 0">Measurement sum (mm): {{readings.measurement_sum}}</p>
      </div>
    </div>
  </div>
</div>

