<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label>Weight (kg):</label>
      <input type="number" ng-model="bio.weight" placeholder="weight in kg" step="0.25">
      <label>Fat (%):</label>
      <input type="number" ng-model="bio.percent" placeholder="bodyfat in percent" step="0.1">
      <label>Date:</label>
      <input type="date" ng-model="bio.entry_date" ng-change="date_changed()" placeholder="yyyy-MM-dd" required>
      <button ng-click="save()" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span><b>Enter {{bio.weight | number: 2}} kg, {{bio.percent | number: 1}}% on {{bio.entry_date | date:'yyyy-MM-dd'}}</b></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight (kg)</th>
            <th>Fat (%)</th>
            <th>LBM (kg)</th>
            <th>FBM (kg)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reading in readings">
            <th>{{reading.entry_date}}</th>
            <th>{{reading.weight | number: 2}}</th>
            <th>{{reading.percent*100 | number: 1}}</th>
            <th ng-if="reading.weight && reading.percent">{{reading.weight*(1-reading.percent) | number:2}}</th>
            <th ng-if="reading.weight && reading.percent">{{reading.weight*reading.percent | number:2}}</th>
            <th ng-if="reading.weight===undefined || reading.percent===undefined"></th>
            <th ng-if="reading.weight===undefined || reading.percent===undefined"></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
