<div class="bio-view">
  <div class="input-panel">
    <div class="container">
      <div ng-if="range_select.count > 1" class="row period-data">
        <div class="col s12">
          <div>From {{range_select.oldest_date()}} to {{range_select.newest_date()}}</div>
          <div>Weight change from <b>{{range_select.data.wt_old | number: 2}}</b> to <b>{{range_select.data.wt_new | number: 2}}</b> kg. Weight delta: <b>{{range_select.data.wt_delta | number: 2}}</b> kg.</div>
          <hr>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12 m4 l3">
          <label>Date:</label>
          <input class="" type="date" ng-model="bio.entry_date" ng-change="date_changed()" placeholder="yyyy-MM-dd" required>
        </div>
        <div class="col s12 m4 l2">
          <label>Weight (kg):</label>
          <input class="" type="number" ng-model="bio.weight" placeholder="weight in kg" step="0.25">
        </div>
        <div class="col s12 m4 l2">
          <label>Fat (%):</label>
          <input class="" type="number" ng-model="bio.percent" placeholder="bodyfat in percent" step="0.1">
        </div>
        <div class="col s12 l5 ">
          <label>Note:</label>
          <textarea class="" rows="2" ng-model="bio.note"></textarea>
        </div>
        <div class="col s12">
          <button ng-click="save()" class="btn btn-flat">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container table-data-container">
    <div class="settings card-panel">
      <div>
        <div>Columns</div>
        <span class="column-selection">
          <input type="checkbox" id="show-date" ng-model="settings.show.date" />
          <label for="show-date">Date</label>
        </span>
        <span class="column-selection">
          <input type="checkbox" id="show-raw-wt" ng-model="settings.show.raw_wt" />
          <label for="show-raw-wt">Raw wt</label>
        </span>
        <span class="column-selection">
          <input type="checkbox" id="show-avg-wt" ng-model="settings.show.avg_wt" />
          <label for="show-avg-wt">Avg wt</label>
        </span>
        <span class="column-selection">
          <input type="checkbox" id="show-composition" ng-model="settings.show.composition" />
          <label for="show-composition">Composition</label>
        </span>
        <span class="column-selection">
          <input type="checkbox" id="show-note" ng-model="settings.show.note" />
          <label for="show-note">Note</label>
        </span>
      </div>
      <div>
        <span>Decimals: </span>
        <input style="width:30px" type="number" ng-model="settings.precision" placeholder="1" step="1">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table class="table striped hoverable card-panel">
          <thead>
            <tr>
              <th ng-if="settings.show.date">Date <span class="fa fa-sort-desc" /></th>
              <th ng-if="settings.show.raw_wt">Wt. (kg)</th>
              <th ng-if="settings.show.avg_wt">Avg. (kg)</th>
              <th ng-if="settings.show.composition">Fat (%)</th>
              <th ng-if="settings.show.composition">LBM (kg)</th>
              <th ng-if="settings.show.composition">FBM (kg)</th>
              <th ng-if="settings.show.note"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="reading in readings" class="bio-table-row" ng-click="select_row(reading, $index)" ng-class="{'selected-row': range_select.is_selected($index)}">
              <td ng-if="settings.show.date">{{reading.entry_date}}</td>
              <td ng-if="settings.show.raw_wt">{{reading.weight | number: settings.precision}}</td>
              <td ng-if="settings.show.avg_wt">{{reading.moving_avg_weight | number: settings.precision}}</td>
              <td ng-if="settings.show.composition">{{reading.percent*100 | number: 1}}</td>
              <td ng-if="settings.show.composition && reading.weight && reading.percent">{{reading.moving_avg_weight*(1-reading.percent) | number:settings.precision}}</td>
              <td ng-if="settings.show.composition && reading.weight && reading.percent">{{reading.moving_avg_weight*reading.percent | number:settings.precision}}</td>
              <td ng-if="settings.show.composition && (reading.weight===undefined || reading.percent===undefined)"></td>
              <td ng-if="settings.show.composition && (reading.weight===undefined || reading.percent===undefined)"></th>
              <td ng-if="settings.show.note" class="note">
                <div class="body" ng-class="{'truncate': !range_select.is_selected($index)}" ng-if="reading.note">{{reading.note}}</div>
              </td>
              <td><span ng-click="delete_row(reading.entry_date)" class="fa fa-close delete-entry-row" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

