<div class="bio-view">
<div class="input-panel">
    <div class="container">
      <div ng-if="range_select.count > 1" class="row period-data">
        <div class="col s12">
          <div>Period: {{range_select.oldest_date()}} to {{range_select.newest_date()}}</div>
          <div>Avg. weight: <b>{{range_select.data.period_avg_wt | number: 2}} kg</b>. Weight delta: <b>{{range_select.data.wt_delta | number: 2}} kg</b>.</div>
          <hr>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12 m4 l3">
          <label>Date:</label>
          <input class="" type="date" ng-model="bio.entry_date" ng-change="date_changed()" placeholder="yyyy-MM-dd" required>
        </div>
        <div class="col s12 m4 l2">
          <label>Weight (kg):</label>
          <input class="" type="number" ng-model="bio.weight" placeholder="weight in kg" step="0.25">
        </div>
        <div class="col s12 m4 l2">
          <label>Fat (%):</label>
          <input class="" type="number" ng-model="bio.percent" placeholder="bodyfat in percent" step="0.1">
        </div>
        <div class="col s12 l5 ">
          <label>Note:</label>
          <textarea class="" rows="2" ng-model="bio.note"></textarea>
        </div>
        <div class="col s12">
          <button ng-click="save()" class="btn btn-flat">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container table-data-container">
    <div class="row">
      <div class="col s12">
        <table class="table card-panel striped hoverable">
          <thead>
            <tr>
              <th>Date <span class="fa fa-sort-desc" /></th>
              <th>Weight (kg)</th>
              <th>Fat (%)</th>
              <th>LBM (kg)</th>
              <th>FBM (kg)</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="reading in readings" class="bio-table-row" ng-click="select_row(reading, $index)">
              <td><span ng-if="range_select.count > 1 &&range_select.is_selected($index)">*</span> {{reading.entry_date}}</td>
              <td>{{reading.weight | number: 2}}</td>
              <td>{{reading.percent*100 | number: 1}}</td>
              <td ng-if="reading.weight && reading.percent">{{reading.weight*(1-reading.percent) | number:2}}</td>
              <td ng-if="reading.weight && reading.percent">{{reading.weight*reading.percent | number:2}}</td>
              <td ng-if="reading.weight===undefined || reading.percent===undefined"></td>
              <td ng-if="reading.weight===undefined || reading.percent===undefined"></th>
              <td class="note">
                <div class="body truncate" ng-if="reading.note">{{reading.note}}</div>
              </td>
              <td><span ng-click="delete_row(reading.entry_date)" class="fa fa-close delete-entry-row" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

