<div ng-if="helloworld">Message from the API: {{helloworld}}</div>
<hr>
<div>
  <label>Name:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">

  <h1 ng-if="yourName">Hello {{yourName}}!</h1>
</div>
<hr>
<br>
<div>
	<ul>
		<li><a href="#/bio">Bodyweight / BF%</a></li>
		<li><a href="#/bfcalc">BF% Calculator</a></li>
		<br>
		<li><a href="http://wilkscalculator.com/kg" target="_blank">Wilks Calculator</a></li>
		<li><a href="https://www.muscleandstrength.com/articles/strong-strength-standards-raw-natural-lifters" target="_blank">Strength Standards</a></li>
	</ul>
	
	
</div>