<div class="bfcalc-view container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h2>Workout quick input</h2>
        <textarea class="form-control" rows="5" ng-model="workout.input" ng-change="input_changed()"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button ng-click="save()" ng-disabled="save_disabled()" class="btn btn-flat">Save</button>
      </div>
    </div>
  </div>
  <div class="card-panel" ng-if="workout.dataStringified && workout.dataStringified !== '[]'">
    <div class="row">
      <div class="col s12">
        <pre>{{workout.dataStringified}}</pre>
      </div>
    </div>
  </div>
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <pre># 2015-05-29
DL (volume): (60x3x4, 80x3, 90x1) 105x5x3
Push Press (intensity): (20x5x2, 30x3x3, 35x3, 40x1, 45,) 47.5, 50, 52,5 57x2,1

# 2015-05-24
Squat (volume): 20x5x2 60x5 80x3 92.5 102,5x5 100x5 100x5
Push Press (extra volume): 20x5x2 30x3x2 40x3 47.5x3x5

# 2015-05-10
Squat (intensity): 20x5x2 60x5 80x3 100 110 117.5x3F,1 100x3
Pause Squat: 80x3
Bench (recovery): 20x5x2 40x5 45x5
Press: 20x5x4
Supinated Lat Pulldowns: 68x8,6,4
</pre>
      </div>
    </div>
  </div>
</div>

